/* CSS declarations go here */
  body {
    background-color: #f2f2f2;
    margin-right: 1.5em;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 5.3em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  .header.item.title{
    font-size: 1.5em;
    width:10em !important;
    color:gray;
  }
  .ui.container{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .bid.progress{
    margin-right:1em;
  }

  .leaderboard{
    margin-left: 3em !important;
    margin-right: 3em !important;
    height:12em;
    overflow: auto

  }

  .item:before{
    margin-left:0 !important;
    margin-top: 0.5em;
  }

  .ui.avatar.image.leaderboard{
    margin-left: 1.5em !important;
    margin-right: 0.5em !important;
  }

  .ui.compact.menu.avatar{
    border:none;
    box-shadow:none;
  }

  .ui.horizontal.segments.user{
    margin-top:0 !important;
  }
 
   .item.login{
    padding-top:0.2em;
  }

  .topbar.logo{
    width:8em !important;
  }

  #topbar{
    background-color: white;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }

  .ui.grey.header.bid-info {
    margin-top: 0em;
  }

.ui.segment.grid.bidding-profile {
  cursor: pointer;
  margin-top: 0 !important;
}

.blackout {
  background-color:#000;
  height:100%;
  width:100%;
  position: fixed;
  display:none;
  top:0;
  left:0;
  z-index:100;
  opacity: 0;
  transition: opacity 2s, display 2s;
  cursor:pointer;
}
.msgbox {
  width:70%;
  height:70%;
  position:fixed;
  top:20%;
  left:15%;
  z-index:101;
  display:none;
  overflow: auto;
  /*margin-left: 20%;*/
}

.review{
  font-size:.2em;
}

.image.no-money{
  height:7em;
  margin:auto;
}

.no-money{
  margin:1em;
  text-align:center;
}

#flame-icon{
  width:1.2em;
  margin-bottom:0.6em;
  margin-right:0;
}
#user-message-header{
  margin-top: 0.2em;
  margin-bottom:0.7em;
}

#save_ad{
  margin-top:0.6em;
}

#explore-ads{
}

.ad-menu.item{
  margin-bottom: -2px;
}

.rainbow-pixel-canvas {
  outline: solid 2px gray;
  cursor: default;
  -ms-touch-action: none;
      touch-action: none;
}

.profile-tabs{
width:4em !important;
margin-right:1.5em !important;
float:right;
}

.profile-tabs-item{
  height:3.7em;
  padding-top:1.3em !important;
}

.user-profile{
  padding:0.4em !important;
  padding-bottom:1em !important;
}

.profile-tabs-column{
  padding:0 !important;
  margin-left:0.5em;
  width:6em !important;
}

.profile-tabs-content{
  margin-left:0.7em;
  margin-right:-5em !important;
  padding:0 !important;
  max-width:95% !important;
  min-width:70% !important;
}


#bid-user-pic{
  width:8em;
}

.profile-tabs-overview{
  padding-right:0 !important;
  padding-bottom:0 !important;
  padding-left:0em !important;
  padding-top:0.5em;
  margin-right:-2em;
}

.user-card{
  width:10em !important;
  margin-right:0.5em !important;
  margin-left:0em !important;

}

.is-text{
  margin-top:0 !important;
}

.image.no-money{
  height:7em;
  margin:auto;
  margin-bottom:1em;
}

.happy-coin{
    width: 7em;
    margin: auto;
    margin-bottom: 1em; 
}
