/* CSS declarations go here */
  body {
    background-color: #FFFFFF;
    margin-right: 1.5em;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  .header.item.title{
    font-size: 1.5em;
  }
  .ui.container{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
 